$shadow_ultra_small: 0 2px 2px 0 #00203314;
$shadow_small: 0px 3px 8px 0px #00203314;
$shadow_medium: 0px 4px 15px 0px #8994A933, 0px 0px 2px 0px #8994A90A;
$shadow_large: 0px 12px 28px 0px #0020331F, 0px 8px 8px 0px #0020330A;
$shadow_tooltip: 0px 4px 10px 0px #8994A980;
